/*GENERAL*/
* {
  margin:0%;
}
body{
  font-size: 1em;
  min-width: 326px;
}

h1{
  font-family: 'Sansita', sans-serif;
}

/* HEADER*/
header{
    background-color:black;
    background-image: url("images/oscarsgold.jpg");
    background-size:contain;
    background-repeat:no-repeat;
    background-position:right;
    /*fluid*/
    overflow:hidden;
  }

#top{
  color: white;
  position: relative;
  /*fluid*/
  top: 60%;
  font-size: 3em;
    /*change padding to give space to background image*/
  padding: 5%;
}


/* NAVIGATION BAR */
nav{
  display:inline-block;
  width: 80%;
  text-align: center;
}

ul{
  margin: 1% 0%;

}
/*NAV*/
nav ul li{
  display: inline;
  margin-left: 2%;
  margin-right: 2%;
  font-family: Arial, sans-serif;
  font-size:1.5em;
}

nav a{
  color: black;
  text-decoration: none;
}
nav a:hover {
  color: gold;
  text-decoration: none;
}

/*Main*/
main{
  padding:0% 2%;
  max-width: 1200px;
  font-family: 'Roboto', sans-serif;
}

main h1{
  text-align:center;
}

section {
  padding: 3%;
}

section h2{
  margin-bottom: 2%;
  text-align: center;
}
/* FEATURE SECTION */
figure{
  display: inline-block;
  margin-right: 2%;
  margin-bottom: 3%;
}

img{
  width: 200px;
  height: 300px;
}

img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}


/*ANIMATED SECTION*/
#animated{
  background-color: rgba(153,204,255,0.5);
}

/*DOCUMENTARY SECTION */

/*-------------vote.html--------------*/

/*FORM*/
legend{
  font-size: 1.5em;
}

fieldset{
  padding: 20px;
}

form p{
  font-size: 1.25em;
}

#submit-btn{
  text-align:center;
}
input[type=submit] {
  margin: 20px 0px;
  font-size: 1.25em;
  background: gold;
  border-radius: 5px;
}

footer{
  text-align: center;
  background-color: #bfbfbf;
}

footer p{
  margin: 0px;
  padding: 10px 0px;
}
/*---------------success.html----------*/
/*table*/
#success h1 {
  margin-top: 20px;
}
#success a {
  text-decoration: none;
  color: gold;
  font-weight: bold;
}

#success a:hover{
  text-decoration: none;
  color: gold;
  font-size: 1.1em;
}
#success a:visited {
  color: #4d3d00;
}
table{
  width: 400px;
  border-collapse: collapse;
  margin: 20px 0px;
}

.even {
  background-color: gold;
}
th, td {
  border: 1px solid gold;
  padding: 5px;
}

th{
  font-size: 1.25em;
}

/*Nav query*/
@media only screen and (max-width: 985px) {
  nav{
    display: inline-block;
    width: 100%;
    text-align: left;
  }

  nav ul li{
    display: block;
    font-family: Arial, sans-serif;
    font-size:1.5em;
    margin: 2% 0%;
  }
}

@media only screen and (max-width: 899px){
  #top{
    color: white;
    font-size: 2em;
      /*change padding to give space to background image*/
    padding: 5%;
  }
}

@media only screen and (max-width: 490px){
  section {
    padding: 3%;
    text-align: center;
    font-size: 1.5em;
  }

  figure{
    display: block;
    margin: 5% 0% 2% 0%;
  }

  img{
    width: 200px;
    height: 300px;
  }
}