* {
  margin:0px;
}
/* HEADER*/
header{
    background-color:black;
    background-image: url("images/oscarsgold.jpg");
    background-size:contain;
    background-repeat:no-repeat;
    background-position:right;
    height: 200px;
  }

h1{
  font-family: 'Sansita', sans-serif;
}

#top{
  color: white;
  position: relative;
  top: 60%;
  left: 20px;
  font-size: 50px;
}
/* NAVIGATION BAR */
nav{
  margin-left: 10px;
  display:inline-block;
}

ul{
  margin: 20px 0px;

}

nav ul li{
  display: inline;
  margin-left: 50px;
  margin-right: 50px;
  font-family: Arial, sans-serif;
  font-size:1.5em;
}

nav a{
  color: black;
  text-decoration: none;
}
nav a:hover {
  color: gold;
  text-decoration: none;
}

main{
  padding:0px 20px;
  font-family: 'Roboto', sans-serif;
}

main h1{
  text-align:center;
}

section {
  padding: 20px;
}

section h2{
  margin-bottom: 10px;
  text-align: center;
}
/* FEATURE SECTION */

img{
  width: 200px;
  height: 300px;
}

img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
figure{
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 30px;
}

/*ANIMATED SECTION*/
#animated{
  background-color: rgba(153,204,255,0.5);
}

/*DOCUMENTARY SECTION */

/*-------------vote.html--------------*/

/*FORM*/
legend{
  font-size: 1.5em;
}

fieldset{
  padding: 20px;
}

form p{
  font-size: 1.25em;
}

#submit-btn{
  text-align:center;
}
input[type=submit] {
  margin: 20px 0px;
  font-size: 1.25em;
  background: gold;
  border-radius: 5px;
}

footer{
  text-align: center;
  background-color: #bfbfbf;
}

footer p{
  margin: 0px;
  padding: 10px 0px;
}
/*---------------success.html----------*/
/*table*/
#success h1 {
  margin-top: 20px;
}
#success a {
  text-decoration: none;
  color: gold;
  font-weight: bold;
}

#success a:hover{
  text-decoration: none;
  color: gold;
  font-size: 1.1em;
}
#success a:visited {
  color: #4d3d00;
}
table{
  width: 400px;
  border-collapse: collapse;
  margin: 20px 0px;
}

.even {
  background-color: gold;
}
th, td {
  border: 1px solid gold;
  padding: 5px;
}

th{
  font-size: 1.25em;
}